
.center {
  text-align: center;
  padding: 30px 0;
}




body{
  /* background-color: #f5f5f5; */
  overflow-x: hidden;
}

.topbar{
  background-color: white;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */

}

.topbar .user-img{
  height: 45px;
  margin-right: 5px;
}

.user-profile{
  margin-right: 50px;
}

.profile-dropdown-wrap{
  position: absolute;
  top: 95px;
  right: 70px;
  z-index: 2;
  max-height: 400px;
  transition: max-height 0.5s;
}

.profile-dropdown-wrap.show-submenu{
  max-height: 400px;
}

.profile-dropdown{
  border-radius: 15px;
  width: 200px;
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.profile-dropdown a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  transition: font-size 0.25s ease;
  transition: margin-left 0.25s ease;
}

.profile-dropdown a:hover{
  font-weight: 500;
  font-size: 1.063rem;
  margin-left: 5px;
}

.topbar .user-profile a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.025rem;
  text-decoration: none;
  color: #000000;
}

.sidebar{
  background-color: #ffff;
  height: 100vh;
  width: 100px;
}

.button {
  display: inline-block;
  background-color: #9894cf;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 5px 5px;
  height: 90px;
  width: 280px;
  text-decoration: none;
  padding: 24px 0;
  
}

.btntxt{
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.45rem;
  font-weight: 500;   
  transition: font-size 0.2s;
  text-decoration: none;
}

.button:hover{
  text-decoration: none;
}

.button:hover .btntxt{
  font-size: 1.55rem;
  text-decoration: none;
  color: white;
}

.button img {
  width: 20%; /*  Adjust the image size as needed */
  margin-right: 10px; /* Add spacing between the image and text */
  margin-left: 10px;
  margin-top: -10px;
  filter: invert(100%) sepia(0%) saturate(1909%) hue-rotate(153deg) brightness(106%) contrast(105%);
}



.btnholder{
  margin: 0 -80px;
}



@media (max-width: 1200px) {

  .btnholder{
      margin-left: -220px;
  }   
  
  .headingM1{
      margin-top: 0px;
      /* margin-left: -180px; */
  }
}

.actionbtn{
  background-color: #9894cf;
  height: 90px;
  border-radius: 15px;
  margin: 5px 5px;
}

.actionicon{
  width: 30%;
  position: absolute;
  top: 15%;
  left: 0;
  filter: invert(100%) sepia(0%) saturate(1909%) hue-rotate(153deg) brightness(106%) contrast(105%);
}

.actionbtn h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.45rem;
  margin-left: 30%;
  text-align: left;
  text-decoration: none;
  transition: font-size 0.2s;
}

.actionbtn:hover{
  text-decoration: none;
}

.actionbtn:hover h4{
  font-size: 1.52rem;
}

.main{
  background-color: #f5f5f5;
  height: 87.5vh;
  border-radius: 12px 0 0 0;
  background-color: #f5f5f5;
  width: 500vw;
  padding-right: 100px;
  padding-left: 50px;
  padding-top: 20px;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 60px;
}

.headingM1{
  margin-top: 0px;
  /* margin-left: -80px; */
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.headingHome1{
  margin-top: 0px;
  /* margin-left: -80px; */
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.button-27 {
  appearance: none;
  background-color: #9894cf;
  border: 2px solid #9894cf;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform;
  margin-left: 10px;
  margin-top: 10px;
}

.button-27 span{
  font-family: 'Montserrat', sans-serif;
}


.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  /* box-shadow: none; */
  transform: translateY(0);
  border: 2px solid #9894cf;

}

.Homebutton {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all .6s ease;
}

.Homebutton:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

/*          SIDEBAR               */

.toplogo{
  height: 80px;
  margin-top: 5px;
  margin-left: 30px;
}


.sbicon{
  position: relative;
  top: 7px;
  left: -5px;
  font-size: 1.75rem;
  margin-left: -15px;
}

#wrapper.toggled .sbicon{
  
  top: 9px;
  left: -8px;
  font-size: 1.75rem;
  margin-left: -15px;
}

.navtxt{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.063rem;
  margin-right: 10px;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color:#ffffff !Important;
 
  /* -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; */
}

#wrapper.toggled #sidebar-wrapper {
  width: 0;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left:-250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  right:0px;
  left: 5px;
  /* width: 200px; */
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left:0;  margin-right: 10px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding-bottom: 14px;
  margin-top: 2px;
}


.sidebar-nav .heighlite_tab a{
  color: #fff;
  background: #9894cf;
  border-radius: 5px; 
}


.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #9894cf;
  border-radius: 5px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.pg00{
  margin-top: 20px;
}

.sidebar-nav > .sidebar-brand {
  height: 50px;
  font-size: 1.125rem;
  line-height: 60px;
  
}


.sidebar-nav > .sidebar-brand a {
  margin-top: 400px;
  color: #000000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000000;
  background: none;
}

@media(min-width:425px) {
  #wrapper {
      padding-left: 180px;
  }

  #wrapper.toggled {
      padding-left: 75px;
  }

  #sidebar-wrapper {
      width: 160px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 60px;
      
      
  }

  #wrapper.toggled  .sidebar-nav li a{
      
      padding-bottom: 0px;
      
  }

  #wrapper.toggled  .sidebar-nav li {
      
      margin-bottom: 0px;
      
  }
#wrapper.toggled span {
      visibility:hidden;
      
  }
#wrapper.toggled   i {
float:right;
} 

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}


@media(max-width:200px) {

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right:60px;
}

#wrapper.toggled {
  padding-right: 60px;
}

#wrapper {
      padding-left: 20px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 50px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 140px;
      
      
  }
  
  #wrapper.toggled span {
      visibility:visible;
      position:relative;
      left:70px;
      bottom:13px;
      
  }
  

#wrapper span {
      visibility:hidden;
      
  }
#wrapper.toggled   i {
float:right;
} 

#wrapper   i {
float:right;
} 

  #page-content-wrapper {
      padding: 5px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }




}


.topbar i{
  margin-left: 5px;
}

.topbar .fa-power-off{
  margin-right: 10px;
}

.topbar .fa-gear{
  margin-right: 10px; margin-bottom: 10px;
}



.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  align-items: right;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.login-container label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-container button:hover {
  background-color: #0056b3;
}


.rmclass{
  margin-top: 40px;
  
}

.RMContainer{
  
  justify-content: center;
  align-items: center;
}

.RecentBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: white;
  margin: 15px 10px 10px 10px ;
  border-radius: 10px;
}

.BlankSpace{
  margin-top: 40px;
}




.MenteeCardsSet{
  margin-top: 50px;
}

.Class_Name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.MenteeCardsSet hr{
  position: relative;
  top: -20px;
  border: 1px solid #ccc; /* Border color */
  margin: 20px 0; /* Margin space above and below the line */
}

.MenteeCardsSet i{
  position: relative;
  top: 5px;
  right: 20px;
}

.menteeCard{
  height: 420px;

}

.SCard{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.StudentCard{
  
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  height: 320px;
  width: 215px !important;
  margin-right: 20px;
  border-radius: 2%;
  filter: drop-shadow(rgb(226, 226, 226) 0.15rem 0.15rem 5px);
  
  
}

.CardTop{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardLow{
  height: 100%;
  position: relative;
  top: -125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-profile-image {
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -15px;
}

.circular-profile-image2 {
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: -480px;
  border: 3px solid #9894CF;
}

.circular-profile-image img {
  width: 105%;
  height: 105%;
  object-fit: cover; /* Ensures the image covers the entire circular area */
  object-position: center; /* Centers the image within the circular area */
  border: 2px solid #fff; /* Optional: Add a border to the image */
  position: relative;
  right: 2%;
  bottom: 2%;
}

.circular-profile-image2 img {
  width: 105%;
  height: 105%;
  object-fit: cover; /* Ensures the image covers the entire circular area */
  object-position: center; /* Centers the image within the circular area */
  border: 2px solid #fff; /* Optional: Add a border to the image */
  position: relative;
  right: 2%;
  bottom: 2.2%;
}

.TopHeadline{
  position: absolute;
}

.THeadtxtName{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  left: -120px;
  top: -14px;
}
.THeadtxtRegno{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  left: -100px;
  top: -14px;

}
.THeadtxtClass{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  left: 0px;
  top: -14px;

}

.discContainer{
  position: absolute;
}
.disctxt{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #818181a5;
  position: relative;
  top: 22px;
  left: -190px;

}


.RegTxt{
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NameTxt{
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NameTxt p, .RegTxt p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.82rem;
}

.detailBox{
  background-color: #F5F5F5;
  width: 90%;
  height: 50%;
  border-radius: 2%;
  padding: 2% 2% 2% 2%;
}

.detailheadings{
  color: #434343;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.80rem;
}
.subdetailheadings{
  color: #434343;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.78rem;
  text-align: right;
  line-height: 160%;
  margin-top: 20px;
}

.detailval{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.82rem;
}

.mentoring_sec1{
  background-color: white;
  height: 130px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 35px 20px 35px;
  margin-bottom: 20px;
}
.mentoring_sec2{
  background-color: white;
  height: 330px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 35px 20px 35px;
  margin-bottom: 20px;
}

.input-style {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 12px;
  color: #555;
  outline: none;
  
}

.input-style:focus {
  
  box-shadow: 0 0 0 0.1rem #9894cf82;
}

.ms1-txt-style{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-left: 10px;
}
.ms1-txt-style span{
  font-size: 16px;
  font-weight: 500;
}

.ms2-txt-style{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-left: 10px;
}
.ms2-txt-style span{
  font-size: 16px;
  font-weight: 500;
}

.sectionheadings{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 800;
}